<header class="mb-5">
    <div class="container">
        <div class="row  align-items-center">
            <div class="col-sm-6">
                <div class="col-sm-12">
                    <h1  class="h1 x-poppis">More than just shorter links</h1>
                    <p class="poppis    ">Build your brand's & recognition and get detaled insights on how your links are performing </p>
                    <button class="btn btn-cyan border-radius poppis  mt-2">Get Started</button>
                </div>
            </div>
            <div class="col-sm-6">
                <img class="crop" src="../../assets/images/page/illustration-working.svg">
            </div>
        </div>
    </div>
</header>