<div class="col-sm-12 bg-violet-dark fixed">
    <div class="container">
        <div class="row pt-5">
            <div class="col-sm-4">
                <ul class="list">
                    <li class="list-group-item"><h1 class="x-poppis">Shortly</h1></li>
                </ul>
            </div>
            <div class="col-sm-2">
                <ul class="list">
                    <li class="list-group-item mb-2 h-link"><a class="nav-link" href="#">Features</a></li>
                    <li class="list-group-item h-link "><a class="nav-link" href="#">Link Shortening</a></li>
                    <li class="list-group-item h-link"><a class="nav-link" href="#">Branded Links</a></li>
                    <li class="list-group-item h-link"><a class="nav-link" href="#">Analytics</a></li>
                  </ul>
            </div>
            <div class="col-sm-2">
                <ul class="list">
                    <li class="list-group-item mb-2 h-link"><a class="nav-link" href="#">Resources</a></li>
                    <li class="list-group-item h-link"><a class="nav-link" href="#">Blog</a></li>
                    <li class="list-group-item h-link"><a class="nav-link" href="#">Developers</a></li>
                    <li class="list-group-item h-link"><a class="nav-link" href="#">Support</a></li>
                 </ul>

            </div>
            <div class="col-sm-2">
                <ul class="list">
                    <li class="list-group-item mb-2 h-link"><a class="nav-link" href="#">Company</a></li>
                    <li class="list-group-item h-link"><a class="nav-link" href="#">About</a></li>
                    <li class="list-group-item h-link"><a class="nav-link" href="#">Our Team</a></li>
                    <li class="list-group-item h-link"><a class="nav-link" href="#">Careers</a></li>
                    <li class="list-group-item h-link"><a class="nav-link" href="#">Contact</a></li>
                  </ul>
            </div>
            <div class="col-sm-2">
                <ul class="list d-inline-flex ">
                    <li class="list-group-item h-link m-2"><img src="../../../../assets/images/page/icon-facebook.svg"></li>
                    <li class="list-group-item h-link m-2"><img src="../../../../assets/images/page/icon-twitter.svg"></li>
                    <li class="list-group-item h-link m-2"><img src="../../../../assets/images/page/icon-pinterest.svg"></li>
                    <li class="list-group-item h-link m-2"><img src="../../../../assets/images/page/icon-instagram.svg"></li>
                  </ul>
            </div>
          
        </div>
        <div class="col-sm-12 text-center pb-2">
            <hr>
            <label>Challenge by Frontend Mentor. Coded by Denise Souza.</label>
        </div>
    </div>
</div>