.poppis{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: hsl(0, 0%, 75%);
    
}
.poppis a{
    color: hsl(0, 0%, 75%);
}
.btn-cyan{
    background: hsl(180, 66%, 49%);
    color: white;
    width: 6em;
}
.border-radius{
    border-radius: 25px;
}
