<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-sm-6 text-center">
            <h2 class="title">Advanced Statistics</h2>
            <h5 class="description">Track how your links are performing across the web with our advanced statistics dashboard</h5>   
        </div>
    </div>
    <div class="container mt-5">
        <div class="row">
            <div class="col-sm-4">
                <div class="card p-2">
                    <div class="icons">
                        <img class="images "src="../../../../assets/images/page/icon-brand-recognition.svg" width="50px">
                    </div>
                    <div class="card-body mt-5">
                        <h5 class="title">Brand Recognition</h5>
                        <p class="description mt-4">
                            Boost your brand recognition with each click. Generic links don’t mean a thing. Branded links help instil confidence in your content.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 mt-3">
                <div class="card p-2">
                    <div class="icons">
                        <img class="images" src="../../../../assets/images/page/icon-detailed-records.svg" width="50px">
                    </div>
                    <div class="card-body mt-5">
                        <h5 class="title">Detailed Records </h5>
                        <p class="description mt-4">
                            Gain insights into who is clicking your links. Knowing when and where people engage with your content helps inform better decisions.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 mt-5">
                <div class="card p-2">
                    <div class="icons">
                        <img  class="images" src="../../../../assets/images/page/icon-fully-customizable.svg" width="50px">
                    </div>
                    <div class="card-body mt-5">
                        <h5 class="title">Fully Customizable </h5>
                        <p class="description mt-4">
                            Improve brand awareness and content discoverability through customizable links, supercharging audience engagement.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
