.images{
    padding: 10%;
}
.icons{
    border-radius: 100%;
    background-color: hsl(257deg 27% 26%);
    width: 25%;
    margin-left: 10%;
    position: absolute;
    top: -40px;
    padding: 5%;
}
.title{
    font-weight:700;
    color:hsl(255deg 11% 22%);
}
.description{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: hsl(0, 0%, 75%);
}
.card{
    border:none;
}

