<div class="row justify-content-center mt-5">
    <div class="col-sm-6 text-center">
        <h2 class="poppis">Advanced Statistics</h2>
        <h5>Track how your links are performing across the web with our advanced statistics dashboard</h5>   
    </div>
</div>
<div class="container text-center mt-5">
    <div class="row">
      <div class="col-sm-4 align-items-start">
        <div class="card">
            <div class="icons">
                <div class="images">
                    <img src="../../../../assets/images/page/icon-brand-recognition.svg">
                </div>
            </div>
            <div class="card-body">
                <h5>Brand Recognition</h5>
                <p>
                     Boost your brand recognition with each click. Generic links don’t mean a thing. Branded links help instil confidence in your content.
                </p>
            </div>
        </div>
      </div>
      <div class="col-sm-4  align-items-center">
        <div class="card">
            <div class="icons">
                <div class="images">
                    <img src="../../../../assets/images/page/icon-detailed-records.svg">
                </div>
            </div>
            <div class="card-body">
                <h5>Detailed Records </h5>
                <p>
                    Gain insights into who is clicking your links. Knowing when and where people engage with your content helps inform better decisions.
                </p>
            </div>
        </div>
      </div>
      <div class="col-sm-4  align-items-and">
        <div class="card">
            <div class="icons">
                <div class="images">
                    <img src="../../../../assets/images/page/icon-fully-customizable.svg">
                </div>
            </div>
            <div class="card-body">
                <h5>Fully Customizable </h5>
                <p>
                    Improve brand awareness and content discoverability through customizable links, supercharging audience engagement.
                </p>
            </div>
        </div>
      </div>
    </div>
  </div>